@font-face {
  font-family: Nohemi;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('./Nohemi-Light.ttf') format('truetype');
}

@font-face {
  font-family: Nohemi;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Nohemi-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Nohemi;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./Nohemi-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Nohemi;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./Nohemi-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: Nohemi;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./Nohemi-Bold.ttf') format('truetype');
}
