// Media Queries
$width-xs: 575.98px;
$width-sm: 767.98px;
$width-md: 991.98px;
$width-lg: 1199.98px;
$width-llg: 1250.98px;

// Font Families
$family-nohemi: 'Nohemi', sans-serif;

// Z-INDEX
$zindex-page-transition: 9999;
$zindex-header: 1005;
$zindex-menu: 1006;
$zindex-overlay: 1004;

// TRANSITION
$transition-default: 0.3s ease-in-out;
